@import url(http://fonts.googleapis.com/css?family=Marcellus+SC|Open+Sans:400,700);

body {
    font: 10px "Marcellus SC", sans-serif;
}

.sidebar {
    position: fixed;
    background: #000;
    top: 0;
    bottom: 0;
    padding: 2em;
    box-sizing: border-box;
    color: white;
    overflow-y: scroll;
}

.sidebar div.pure-form {
    margin: 0.5em 0;
    padding: 1em 1.5em;
    border-left: 5px solid #111111;
    font-size: 1.2em;
}

.sidebar .title {
    font-size: 3em;
    font-family: "Marcellus SC", serif;
    margin: 0 0 1.5em 0;
    text-align: center;
}

.content {
    margin-left: 25%;
    padding: 3em;
}

.chart {
    margin: 0 auto;
    width: 800px;
    height: 450px;
}

.chart circle {
    fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.y.axis path {
    display: none;
}

.y.axis line {
    stroke: #777;
    stroke-dasharray: 2,2;
}

.button-toggle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: block;
    padding: 5px 5px 5px 10px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
}

.team-button {
    display: inline-block;
    margin: 20px 10px 0 0;
    height: 290px;
    font: 30px/35px "Marcellus SC", serif;
    color: white;
    white-space: pre-line;
    padding: 0.2em;
}

#dire-buttons .team-button {
    background-color: #651510;
    font-size: 30px;
    line-height: 50px;
}

#radiant-buttons .team-button {
    background-color: #156510;
}

.player-name {
    margin-left: 20px;
    font: 24px/32px 'Open Sans', sans-serif;
}

.off {
    opacity: 0.4;
}

.white {
    color: white;
}