.minihero {
	display: inline-block;
	float: left;
	background: url('/images/sprite.png');
	width: 32px;
	height: 32px;
	opacity: 0;
}
.minihero[class*=minihero-] { opacity: 1; }
.minihero.minihero-abaddon { background-position: 0px 0px; }
.minihero.minihero-alchemist { background-position: -32px 0px; }
.minihero.minihero-ancient_apparition { background-position: -64px 0px; }
.minihero.minihero-antimage { background-position: -96px 0px; }
.minihero.minihero-axe { background-position: -128px 0px; }
.minihero.minihero-bane { background-position: -160px 0px; }
.minihero.minihero-batrider { background-position: -192px 0px; }
.minihero.minihero-beastmaster { background-position: -224px 0px; }
.minihero.minihero-bloodseeker { background-position: -256px 0px; }
.minihero.minihero-bm_earth { background-position: -288px 0px; }
.minihero.minihero-bm_fire { background-position: -320px 0px; }
.minihero.minihero-bm_storm { background-position: -352px 0px; }
.minihero.minihero-bounty_hunter { background-position: -384px 0px; }
.minihero.minihero-brewmaster { background-position: -416px 0px; }
.minihero.minihero-bristleback { background-position: -448px 0px; }
.minihero.minihero-broodmother { background-position: -480px 0px; }
.minihero.minihero-centaur { background-position: -512px 0px; }
.minihero.minihero-chaos_knight { background-position: -544px 0px; }
.minihero.minihero-chen { background-position: -576px 0px; }
.minihero.minihero-clinkz { background-position: -608px 0px; }
.minihero.minihero-crystal_maiden { background-position: -640px 0px; }
.minihero.minihero-dark_seer { background-position: -672px 0px; }
.minihero.minihero-dazzle { background-position: -704px 0px; }
.minihero.minihero-death_prophet { background-position: -736px 0px; }
.minihero.minihero-disruptor { background-position: -768px 0px; }
.minihero.minihero-doom { background-position: -800px 0px; }
.minihero.minihero-doom_bringer { background-position: -832px 0px; }
.minihero.minihero-dragon_knight { background-position: -864px 0px; }
.minihero.minihero-drow { background-position: -896px 0px; }
.minihero.minihero-drow_ranger { background-position: -928px 0px; }
.minihero.minihero-earth_spirit { background-position: -960px 0px; }
.minihero.minihero-earthshaker { background-position: -992px 0px; }
.minihero.minihero-elder_titan { background-position: -1024px 0px; }
.minihero.minihero-ember_spirit { background-position: -1056px 0px; }
.minihero.minihero-enchantress { background-position: -1088px 0px; }
.minihero.minihero-enigma { background-position: -1120px 0px; }
.minihero.minihero-faceless_void { background-position: -1152px 0px; }
.minihero.minihero-furion { background-position: -1184px 0px; }
.minihero.minihero-gyrocopter { background-position: -1216px 0px; }
.minihero.minihero-huskar { background-position: -1248px 0px; }
.minihero.minihero-invoker { background-position: -1280px 0px; }
.minihero.minihero-jakiro { background-position: -1312px 0px; }
.minihero.minihero-juggernaut { background-position: -1344px 0px; }
.minihero.minihero-keeper_of_the_light { background-position: -1376px 0px; }
.minihero.minihero-kunkka { background-position: -1408px 0px; }
.minihero.minihero-lanaya { background-position: -1440px 0px; }
.minihero.minihero-legion_commander { background-position: -1472px 0px; }
.minihero.minihero-legion_commander_alt1 { background-position: -1504px 0px; }
.minihero.minihero-leshrac { background-position: -1536px 0px; }
.minihero.minihero-lich { background-position: -1568px 0px; }
.minihero.minihero-life_stealer { background-position: -1600px 0px; }
.minihero.minihero-lina { background-position: -1632px 0px; }
.minihero.minihero-lina_alt1 { background-position: -1664px 0px; }
.minihero.minihero-lion { background-position: -1696px 0px; }
.minihero.minihero-lone_druid { background-position: -1728px 0px; }
.minihero.minihero-luna { background-position: -1760px 0px; }
.minihero.minihero-lycan { background-position: -1792px 0px; }
.minihero.minihero-magnataur { background-position: -1824px 0px; }
.minihero.minihero-medusa { background-position: -1856px 0px; }
.minihero.minihero-meepo { background-position: -1888px 0px; }
.minihero.minihero-mirana { background-position: -1920px 0px; }
.minihero.minihero-morphling { background-position: -1952px 0px; }
.minihero.minihero-naga_siren { background-position: -1984px 0px; }
.minihero.minihero-necrolyte { background-position: -2016px 0px; }
.minihero.minihero-nevermore { background-position: -2048px 0px; }
.minihero.minihero-nevermore_alt1 { background-position: -2080px 0px; }
.minihero.minihero-night_stalker { background-position: -2112px 0px; }
.minihero.minihero-nyx_assassin { background-position: -2144px 0px; }
.minihero.minihero-obsidian_destroyer { background-position: -2176px 0px; }
.minihero.minihero-ogre_magi { background-position: -2208px 0px; }
.minihero.minihero-omniknight { background-position: -2240px 0px; }
.minihero.minihero-phantom_assassin { background-position: -2272px 0px; }
.minihero.minihero-phantom_lancer { background-position: -2304px 0px; }
.minihero.minihero-phoenix { background-position: -2336px 0px; }
.minihero.minihero-puck { background-position: -2368px 0px; }
.minihero.minihero-pudge { background-position: -2400px 0px; }
.minihero.minihero-pugna { background-position: -2432px 0px; }
.minihero.minihero-queenofpain { background-position: -2464px 0px; }
.minihero.minihero-rattletrap { background-position: -2496px 0px; }
.minihero.minihero-razor { background-position: -2528px 0px; }
.minihero.minihero-riki { background-position: -2560px 0px; }
.minihero.minihero-rikimaru { background-position: -2592px 0px; }
.minihero.minihero-rubick { background-position: -2624px 0px; }
.minihero.minihero-sand_king { background-position: -2656px 0px; }
.minihero.minihero-sandking { background-position: -2688px 0px; }
.minihero.minihero-shadow_demon { background-position: -2720px 0px; }
.minihero.minihero-shadow_shaman { background-position: -2752px 0px; }
.minihero.minihero-shredder { background-position: -2784px 0px; }
.minihero.minihero-silencer { background-position: -2816px 0px; }
.minihero.minihero-skeleton_king { background-position: -2848px 0px; }
.minihero.minihero-skywrath_mage { background-position: -2880px 0px; }
.minihero.minihero-slardar { background-position: -2912px 0px; }
.minihero.minihero-slark { background-position: -2944px 0px; }
.minihero.minihero-sniper { background-position: -2976px 0px; }
.minihero.minihero-spectre { background-position: -3008px 0px; }
.minihero.minihero-spirit_break { background-position: -3040px 0px; }
.minihero.minihero-spirit_breaker { background-position: -3072px 0px; }
.minihero.minihero-storm_spirit { background-position: -3104px 0px; }
.minihero.minihero-sven { background-position: -3136px 0px; }
.minihero.minihero-techies { background-position: -3168px 0px; }
.minihero.minihero-techies_alt1 { background-position: -3200px 0px; }
.minihero.minihero-templar_assassin { background-position: -3232px 0px; }
.minihero.minihero-terrorblade { background-position: -3264px 0px; }
.minihero.minihero-terrorblade_alt1 { background-position: -3296px 0px; }
.minihero.minihero-tidehunter { background-position: -3328px 0px; }
.minihero.minihero-tinker { background-position: -3360px 0px; }
.minihero.minihero-tiny { background-position: -3392px 0px; }
.minihero.minihero-treant { background-position: -3424px 0px; }
.minihero.minihero-troll_warlord { background-position: -3456px 0px; }
.minihero.minihero-tusk { background-position: -3488px 0px; }
.minihero.minihero-undying { background-position: -3520px 0px; }
.minihero.minihero-ursa { background-position: -3552px 0px; }
.minihero.minihero-vengefulspirit { background-position: -3584px 0px; }
.minihero.minihero-venomancer { background-position: -3616px 0px; }
.minihero.minihero-viper { background-position: -3648px 0px; }
.minihero.minihero-visage { background-position: -3680px 0px; }
.minihero.minihero-warlock { background-position: -3712px 0px; }
.minihero.minihero-weaver { background-position: -3744px 0px; }
.minihero.minihero-windrunner { background-position: -3776px 0px; }
.minihero.minihero-wisp { background-position: -3808px 0px; }
.minihero.minihero-witch_doctor { background-position: -3840px 0px; }
.minihero.minihero-zuus { background-position: -3872px 0px; }
